<!doctype html>

<head>
	<title>Ai Generated Paragraph</title>
</head>

<body>

	<h1>AI Generated Hacakathon Project Description</h1>

	<p>This fun hackathon project scrapes DevPost for a list of projects and individually grabs keywords based on frequency
		from project descriptions. Check it out on <a href='https://github.com/JagNahal/HackCamp2021'>my Github!</a>
	</p>

	<h2>Below is an example of the AI generated paragraph!</h2>

	<p style="white-space: pre-wrap;">{{ my_gen_paragraph }}<p/>

</body>